.App{
  width: 99%;
  height: auto;
}
.searchdiv{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 38%;
  display: flex;
  width: 30%;
  height: 20px;
}
.searchdiv button{
  cursor: pointer;
  width: 20%;
  height: 20px;
  background: none;
  border: 1px solid black;
}
#searchbar{
  width: 100%;
  height: 20px;
}
.slide{
  border-radius: 4px;
  width: 50%;
  height: 230px;
  margin: 0 auto;
  display: block;
  align-items: center;
  justify-content: center;
}

.slide img{
  border: 1px solid blue;
  width: 30%;
}
.prevbtn{
  cursor: pointer;
  height: 20px;
  width: 10%;
  margin-top: 13%;
  float: left;
}
.nextbtn{
  height: 20px;
  width: 10%;
  margin-top: 13%;
  cursor: pointer;
  float: right;
}

.slider {
  opacity: 0;
}

.slideactive {
  opacity: 1;
}
.result{
  margin-left: 45%;
}